@charset "UTF-8";

header, div#overview, div#spacer, footer {
    width:98%;
    /*max-width:70em;*/
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 0px 2px 5px #aaa;
    -moz-box-shadow: 0px 2px 5px #aaa;
    box-shadow: 0px 2px 5px #aaa;
}

header {
    margin-top:1em;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
}

div#spacer {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
}

footer {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 1em;
}


/* line 3, ../src/badge.scss */
#badge {
  display: inline;
  left: -65px;
  height: 30px;
  top: 40px;
  position: absolute;
  text-decoration: none;
  width: 250px;
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 12, ../src/badge.scss */
#badge span {
  background: green;
  color: white;
  font-size: 14px;
  left: 0;
  padding: 5px 0;
  position: absolute;
  text-align: center;
  width: 250px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 10px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 10px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 10px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 10px 0;
  -moz-transition-property: opacity;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
/* line 25, ../src/badge.scss */
#badge span:last-child {
  /* this is the backside */
  background: red;
  opacity: 0;
}
/* line 32, ../src/badge.scss */
#badge :hover span:first-child {
  opacity: 0;
}
/* line 35, ../src/badge.scss */
#badge :hover span:last-child {
  opacity: 1;
}

@media all and (-webkit-transform-3d) {
  /* line 43, ../src/badge.scss */
  #badge span {
    opacity: 1 !important;
    -webkit-backface-visibility: hidden;
    -webkit-transition: -webkit-transform 1s;
  }
  /* line 47, ../src/badge.scss */
  #badge span:last-child {
    -webkit-transform: rotateX(180deg);
  }
  /* line 52, ../src/badge.scss */
  #badge:hover span:first-child {
    -webkit-transform: rotateX(180deg);
  }
  /* line 55, ../src/badge.scss */
  #badge:hover span:last-child {
    -webkit-transform: rotateX(360deg);
  }
}
